
/*-----------------------FONTS-----------------------*/
@font-face {
    font-family: msLeeds;
    font-weight: bold;
    src: url('../fonts/MSLeeds-Bold.ttf');
}
@font-face {
    font-family: msLeeds;
    font-weight: lighter;
    src: url('../fonts/MSLeeds-Light.ttf');
}
@font-face {
    font-family: msLeeds;
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/MSLeeds-BoldItalic.ttf');
}
@font-face {
    font-family: msLeeds;
    font-style: italic;
    font-weight: lighter;
    src: url('../fonts/&SLeeds-LightItalic.ttf');
}

@font-face {
    font-family: msLondon;
    src: url('../fonts/MSLondon/MSLondon-Regular.ttf');
}

@font-face {
    font-family: msLondon;
    font-weight: bold;
    src: url('../fonts/MSLondon/MSLondon-Bold.ttf');
}

@font-face {
    font-family: msLondon;
    font-style: italic;
    src: url('../fonts/MSLondon/MSLondon-Italic.ttf');
}

@font-face {
    font-family: msLondon;
    font-weight: lighter;
    src: url('../fonts/MSLondon/MSLondon-Light.ttf');
}

@font-face {
    font-family: msLondon;
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/MSLondon/MSLondon-BoldItalic.ttf');
}

@font-face {
    font-family: msLondon;
    font-style: italic;
    font-weight: lighter;
    src: url('../fonts/MSLondon/MSLondon-LightItalic.ttf');
}

/*-----------------------MS COLOURS-----------------------*/
/*$white: #FFFFFF;
$ms-orange: #EA5B1B;
$ms-green: #76B82A;
$grey-dark: #212121;
$grey-medium: #7C7C7C;
$grey-light: #DCDCDC;
$grey-bg: #EDEDED;*/

body {
  overflow-x: hidden;
  font-family: msLondon;
  font-weight: 300;
  color: #fff;
  background: #efefef;
}

.wrapper {
	padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
	font-family: msLeeds;
	text-align: center;
	font-size: 52px;
	margin-bottom: 20px;
}

h4 {
	font-family: msLeeds;
	font-size: 24px;
	font-style: italic;
	font-weight: light;
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 50px;
}

.ms_header {
	height: 180px;
	width: 100%;
	background-image: url("../img/ms_header.png");
}

.ms_footer {
	height: 180px;
	width: 100%;
	background-image: url("../img/ms_footer.png");
	padding-bottom: 480px;
}
